<nav class="main__menu__nav hidden-xs hidden-sm">
    <ul class="main__menu">
        <li class="drop"><a href="/">Home</a></li>
        <li class="drop">
            <a href="#">Product</a>
            <ul class="dropdown">
                <li><a href="/product.html">Product Grid</a></li>
            </ul>
        </li>
        <li class="drop">
            <a href="blog.html">blog</a>
            <ul class="dropdown">
                <li><a href="blog.html">Blog Grid</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
        </li>
        <li class="drop">
            <a href="#">Order</a>
            <ul class="dropdown">
                <li><a href="cart.html">Cart page</a></li>
                <li><a href="checkout.html">checkout</a></li>
                <li><a href="wishlist.html">wishlist</a></li>
            </ul>
        </li>
        <li><a href="contact.html">contact</a></li>
        <li>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </li>
    </ul>
</nav>